In [ ]:
import pandas as pd

# Optional Activity
### Play with a toy dataframe (It's small so it's easy to work with)

In [ ]:
df =pd.DataFrame() #makes an empty dataframe
df['col1'] = [1,0,2,3] #writes a colum with name 'col1' and values 1,0,2,3
df['col2'] = [5,5,6,7]
df['col3'] = ['yes', 'no', 'no', 'yes']

In [ ]:
df

1) Print col1
2) Print the first row  
3) Print the value in the second row of col1  
4) Print the mean of col2  
5) Print the shape of the df      
6) New Material: add a col4 with one value if the value in col3 for that row is 'yes' and a different value of the value in col3 is 'no' (you may need to google around for this)

# Pandas (Yey!)

Let's look at some data from the Chicago Health Atlas   
https://www.chicagohealthatlas.org   
Unemployement by Community Area 2012-2016

In [69]:
#set my path:
path = '/Users/Sarah/Documents/GitHub/Programming_Lab_5-5-20/chi_unemployement_2012-2016.csv'

#Read in the csv:
unemp_df = pd.read_csv(path)

In [70]:
unemp_df.head(10)

,Category,SubCategory,Indicator,Year,Geography,Geo_Group,Geo_ID,Number,Percent
0,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,1-Rogers Park,1,2860,8.871793
1,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,2-West Ridge,2,3418,9.182988
2,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,3-Uptown,3,2971,8.342928
3,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,4-Lincoln Square,4,1651,6.157691
4,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,5-North Center,5,922,4.214857
5,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,6-Lakeview,6,2399,3.225546
6,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,7-Lincoln Park,7,1602,3.510156
7,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,8-Near North Side,8,2971,4.991516
8,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,9-Edison Park,9,265,4.107254
9,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,10-Norwood Park,10,1215,5.569307

In [71]:
unemp_df.shape

(77, 9)

In [72]:
unemp_df.shape[1] #number of columns (isn't indexing cool)

9

In [73]:
unemp_df.shape[0] #number of rows

77

In [74]:
#or for number of rows
len(unemp_df)

77

In [75]:
unemp_df.columns

Index(['Category', 'SubCategory', 'Indicator', 'Year', 'Geography',
       'Geo_Group', 'Geo_ID', 'Number', 'Percent'],
      dtype='object')

In [76]:
unemp_df.dtypes

Category        object
SubCategory     object
Indicator       object
Year            object
Geography       object
Geo_Group       object
Geo_ID           int64
Number           int64
Percent        float64
dtype: object

In [77]:
unemp_df.describe() #if there is a mix of numerical and string vars it'll give basic summary of num only
#you can specify what you want it to summarize
#search pandas describe for options

          Geo_ID       Number    Percent
count  77.000000    77.000000  77.000000
mean   39.000000  2074.194805  13.659514
std    22.371857  1408.246316   8.158712
min     1.000000   189.000000   3.225546
25%    20.000000  1009.000000   6.949421
50%    39.000000  1661.000000  11.226505
75%    58.000000  2869.000000  19.097084
max    77.000000  7364.000000  36.932039

In [78]:
unemp_df['Percent'].mean()

13.659513833545455

## View Rows and Columns

In [79]:
#columns
unemp_df['Geo_Group']

0             1-Rogers Park
1              2-West Ridge
2                  3-Uptown
3          4-Lincoln Square
4            5-North Center
              ...
72    73-Washington Heights
73       74-Mount Greenwood
74           75-Morgan Park
75                76-O'Hare
76             77-Edgewater
Name: Geo_Group, Length: 77, dtype: object

In [80]:
#Rows are fine too, but need to use .loc or .iloc
unemp_df.loc[4]

Category       Social and Economic Factors
SubCategory                     Employment
Indicator                     Unemployment
Year                             2012-2016
Geography                   Community Area
Geo_Group                   5-North Center
Geo_ID                                   5
Number                                 922
Percent                            4.21486
Name: 4, dtype: object

In [81]:
#slicing
unemp_df[3:6]

,Category,SubCategory,Indicator,Year,Geography,Geo_Group,Geo_ID,Number,Percent
3,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,4-Lincoln Square,4,1651,6.157691
4,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,5-North Center,5,922,4.214857
5,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,6-Lakeview,6,2399,3.225546

In [82]:
#get just one value
unemp_df['Geo_Group'][4] #by column, then index

'5-North Center'

In [83]:
#or
unemp_df.loc[4, 'Geo_Group'] #by row then grab one col value

'5-North Center'

In [84]:
unemp_df.set_index('Geo_Group', inplace = True)  
#note, if you run this line twice you'll get an error. Pandas can't find the col
#bc you already turned it into an index
#watch out for this in the future when you rename columns

AttributeError: 'NoneType' object has no attribute 'head'

In [85]:
unemp_df.head()

,Category,SubCategory,Indicator,Year,Geography,Geo_ID,Number,Percent
Geo_Group,,,,,,,,
1-Rogers Park,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,1,2860,8.871793
2-West Ridge,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,2,3418,9.182988
3-Uptown,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,3,2971,8.342928
4-Lincoln Square,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,4,1651,6.157691
5-North Center,Social and Economic Factors,Employment,Unemployment,2012-2016,Community Area,5,922,4.214857

In [86]:
#now there is a difference between .loc and .iloc
unemp_df.loc['4-Lincoln Square']

Category       Social and Economic Factors
SubCategory                     Employment
Indicator                     Unemployment
Year                             2012-2016
Geography                   Community Area
Geo_ID                                   4
Number                                1651
Percent                            6.15769
Name: 4-Lincoln Square, dtype: object

In [87]:
unemp_df.iloc[3]

Category       Social and Economic Factors
SubCategory                     Employment
Indicator                     Unemployment
Year                             2012-2016
Geography                   Community Area
Geo_ID                                   4
Number                                1651
Percent                            6.15769
Name: 4-Lincoln Square, dtype: object

## Appenidix
### One answer for Optional Activity question 6)

In [88]:
df['col4'] = ['green' if x == 'yes' else 'red' for x in df['col3']]
#https://stackoverflow.com/questions/19913659/pandas-conditional-creation-of-a-series-dataframe-column

In [89]:
df

   col1  col2 col3   col4
0     1     5  yes  green
1     0     5   no    red
2     2     6   no    red
3     3     7  yes  green

##  HW3  and General Notes

Final output should be 2 classes with all of the steps bundled in
You can use comments to indicate which lines are for which questions (but you don't have to)


If you're stuck on something, work from the inside out:  
	Make a line of code that does what you want
	
Put it in a function  
	Run the function   
	Or    
	Put it in a class     
	Make an instance of the class and run that method     

e.g. for part f work with a dictionary on its own, then once figure that out (e.g pulling titles out by order of rating) bundle it into the class, then run to be sure it works!     

Run your code all the way through, in a clean environment!     
Run your code often

In [ ]:
#e.g. after adding two movies 
#instance_of_class.movies
#Outpus:
# {'Movie1': {'year': '2019', 'category': 'drama', 'rating': '5'},
# 'Movie2': {'year': '2018', 'category': 'mystery', 'rating': '4'}}

my_dict = {'Movie1': {'year': '2019', 'category': 'drama', 'rating': '5'},
         'Movie2': {'year': '2018', 'category': 'mystery', 'rating': '4'}}

#now play with it till you get out what you want
#then make the movie_rankings method